/*begin main styles*/
@font-face{
	font-family:'Rockwell';
    font-weight:normal;
    font-style:normal;
    src:url('../fonts/Rockwell.eot'),
        url('../fonts/Rockwell.ttf') format('truetype');
} 
@font-face{
    font-family:'iconfont';
    font-weight:normal;
    font-style:normal;
    src:url('../fonts/iconfont.eot');
    src:url('../fonts/iconfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/iconfont.woff') format('woff'),
        url('../fonts/iconfont.ttf') format('truetype'),
        url('../fonts/iconfont.svg#icomoonregular') format('svg');
}
@font-face{
    font-family:'Raleway';
    font-weight:normal;
    font-style:normal;
    src:url('../fonts/Raleway-Regular.ttf') format('truetype');
}
@font-face{
    font-family:'Raleway';
    font-weight:bold;
    font-style:normal;
    src:url('../fonts/Raleway-Bold.ttf') format('truetype');
}
*{
	box-sizing: border-box;
	padding: 0; margin: 0;
}
body{	
	font-family: 'Raleway', sans-serif;
	font-size: 14px;
	color:#adadad;
	margin:147px 0 0 0;
}
h1{	
	font-family: 'Rockwell', serif;
	font-size: 48px;
	line-height: 48px;
}
.container{
	width:1280px;
	margin: 0 auto;
	padding: 0 50px;
}
.row:after,
.clearfix:after,
.container:after{
	display: block;
	content: "";
	clear: both;
}
.screen{
	height: calc(158vh - 150px);
}
.btn{	
	text-decoration: none;
	font-size:14px;
	line-height:14px;
	padding: 13px 28px;
}
.btn.btn-default{
	background:#ffe13e;
	color:#202242;
	transition: all .5s ease;
}
.btn.btn-default:hover{
	background:#202242;
	color:#ffe13e;
}
.row{}
.col{	
	float:left;
	height: 100%;/*як розтягнути всю висоту батька*/
}
.col-2{
	width:50%;
}
/*end main styles*/

/*begin header styles*/
.header{
	width:100%;
	background: #fff; 
	position: fixed;
	top:0;
	left:0;
	z-index: 999;
}
.header .logo{
	float:left;
}
.header .logo .emblem{
	float:left;
	width:34px;
	height: 34px;
	margin: 56.5px 0 56.5px 0;
	background:url(../images/logo.svg) center no-repeat;
	background-size: contain;
}
.header .logo .text{
	float:left;
	font-family: 'Rockwell', serif;
	text-decoration: none;
	color: #202242;
	font-size: 30px;
	line-height: 30px;
	padding: 58.5px 0; 
	margin: 0 100px 0 17px;
}
.header a.logo:visited{	
	color:#202242;
}
.header .nav{
	float:left;
	padding: 0;
	margin: 0 32px 0 0;
	border-right:1px solid #ebebeb;
}
.header .nav li{
	float:left;
	list-style: none;
	line-height: 0;
	margin: 63px 30px 48px 0;
}
.header .nav li a{
	font-size:16px;	
	line-height: 36px;
	text-transform: uppercase;
	text-decoration: none;
	color: #202242;
	padding:18px 6px;
}
.header .nav li a.active,
.header .nav li a:hover{
	color: #ffe13e;
	font-weight: bold;
}
.header .contact{
	float: right;
	color:#202242;
	padding: 40px 10px 32px 0px;
	line-height: 0;
}
.header .contact_text{	
	font-weight: 600;
	font-size: 12px;
	line-height: 12px;
}
.header .btn{	
	font-weight: 600;
	display: inline-block;
	margin: 22px 20px 0px 0px;
	float:left;
	line-height: 15px;
	font-size: 15px;
}
.header .tel{
	font-family: 'Lato', sans-serif;
	font-weight: bold;
	padding: 6px 0 5.5px 10px;
	margin: 27px 0 0px 0;
	float:right;
	font-size:24px;
	line-height: 24px;
	border-left:1px solid #202242;
}

/*end header styles*/

/*begin splash*/
.screen._splash{
	background: url(../images/layer_splash.png) 60% 70% fixed;
	background-size: cover;
	position: relative;
	font-size: 30px;
	line-height: 30px;
}
.screen._splash .semiopacity{
	background: rgba(0, 0, 0, 0.3);
	position: absolute;
	top: 0; right: 0; bottom: 0; left: 0;
	z-index: 5;
}
.screen._splash .container{
	color: #fff;
	position: relative;
	z-index: 6;
	top:50%;
	text-align: center;
	transform: translateY(-50%);
}
.screen._splash .icon{
	display: inline-block;
	width:92px;
	height:100px;
	background: url(../images/shape.png) no-repeat;
	background-size: contain;
	margin: 60px 0 0 0;
}
.screen._splash form.domain{
	border:solid 19px #dddddd;
	display: inline-block;
	margin: 60px 0 0 0;	
	font-size: 18px;
	line-height: 18px;
}
.screen._splash form.domain .form-control{
	float: left;
}
.screen._splash form.domain input{
	padding: 15px 47px 15px 30px;
	color:#000;
	border: 0;
}
.screen._splash form.domain select{
	border: 0;
	background: #ffe13e;
	color: #000;
	font-weight: bold;
	/*лишніх 5px висота має бути 18+15+15=48 а є 53*
	padding: 15px 47px 15px 30px;
	не виходить одинаково вирівняти вкладеності*/
	padding: 14px 14px 14px 30px;
}
.screen._splash form.domain button{
	font-size: 14px;
	line-height: 14px;
	font-weight: bold;
	border: 0;
	border-left: 1px solid #fff;
	background: #ffe13e;
	color: #fff;	
	padding: 18.5px 18.5px 18.5px 18.5px;
}
/*end splash*/