/*begin main styles*/
@font-face{
	font-family:'Rockwell';
    font-weight: normal;
    font-style: normal;
    src:url('../fonts/Rockwell-Regular.eot'),
        url('../fonts/Rockwell-Regular.woff') format('woff'),
        url('../fonts/Rockwell-Regular.ttf') format('truetype'),
        url('../fonts/Rockwell-Regular.svg#icomoonregular') format('svg');
}
@font-face{
	font-family:'Rockwell';
    font-weight: normal;
    font-style: italic;
    src:url('../fonts/rockwell_italic.eot'),
        url('../fonts/rockwell_italic.ttf') format('truetype');
}
@font-face{
	font-family:'Rockwell';
    font-weight: bold;
    font-style: normal;
    src:url('../fonts/rockwell_bold.eot'),
        url('../fonts/rockwell_bold.ttf') format('truetype');
}
@font-face{
	font-family:'Rockwell';
    font-weight: 200;
    font-style: normal;
    src:url('../fonts/rockwell_light.eot'),
        url('../fonts/rockwell_light.ttf') format('truetype'),
        url('../fonts/rockwell_light.woff') format('woff');
}
/*@font-face{
    font-family:'iconfont';
    font-weight:normal;
    font-style:normal;
    src:url('../fonts/iconfont.eot');
    src:url('../fonts/iconfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/iconfont.woff') format('woff'),
        url('../fonts/iconfont.ttf') format('truetype'),
        url('../fonts/iconfont.svg#icomoonregular') format('svg');
}*/
@font-face{
    font-family:'Raleway';
    font-weight:normal;
    font-style:normal;
    src:url('../fonts/Raleway-Regular.ttf') format('truetype');
}
@font-face{
    font-family:'Raleway';
    font-weight: bold;
    font-style: normal;
    src: url('../fonts/Raleway-Bold.ttf') format('truetype');
}
@font-face{
    font-family:'Raleway';
    font-weight: 600;
    font-style: normal;
    src: url('../fonts/Raleway-SemiBold.ttf') format('truetype');
}
*{
	box-sizing: border-box;
}
body{	
	font-family: 'Raleway', sans-serif;
	font-size: 14px;
    font-weight: normal;
    font-style: normal;
	color: #000;
	margin: 0;
}
h3{
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
	font-size: 36px;
	line-height: 36px;
	color: #fff;
}
ul{
	margin: 0; padding: 0;
}
.container{
	position: relative;
}
.row:after,
.clearfix:after,
.container:after{
	display: block;
	content: "";
	clear: both;
}
.screen{
	position: relative;
}
.btn{	
	text-decoration: none;
	font-size:14px;
	line-height:14px;
	padding: 13px 28px;
	border-radius: 0;
	border: none;
}
.btn.btn-default{
	background:#ffe13e;
	color:#202242;
	transition: all .5s ease;
}
.btn.btn-default:hover{
	background:#202242;
	color:#ffe13e;
}
.col-12, .col-11, .col-10, .col-9, .col-8, .col-7, .col-6, .col-5, .col-4, .col-3, .col-2, .col-1{	
	float: left;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;
}
.col-12{
	width:100%;
}
.col-11 {
  width: 91.66666667%;
}
.col-10 {
  width: 83.33333333%;
}
.col-9 {
  width: 75%;
}
.col-8 {
  width: 66.66666667%;
}
.col-7 {
  width: 58.33333333%;
}
.col-6 {
  width: 50%;
}
.col-5 {
  width: 41.66666667%;
}
.col-4 {
  width: 33.33333333%;
}
.col-3 {
  width: 25%;
}
.col-2 {
  width: 16.66666667%;
}
.col-1 {
  width: 8.33333333%;
}
/*end main styles*/

/*begin header styles*/
.header{
	width: 100%;
	background: #fff; 
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;	
	color: #202242;
}
.navbar-default {
	background-color: #fff;
	border-color: #fff;
}
.navbar-default .navbar-toggle .icon-bar {
	background-color: #202242;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
	background-color: #ffe13e;
}
.navbar-toggle{
	margin: 57px 15px 56px 0;
}
@media (min-width: 1200px) {
  .navbar-collapse {
    width: auto;
    border-top: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .navbar-collapse.collapse {
    display: block !important;
    height: auto !important;
    padding-bottom: 0;
    overflow: visible !important;
  }
  .navbar-collapse.in {
    overflow-y: visible;
  }
  .navbar-fixed-top .navbar-collapse,
  .navbar-static-top .navbar-collapse,
  .navbar-fixed-bottom .navbar-collapse {
    padding-right: 0;
    padding-left: 0;
  }
}
.header .logo{
	float: left;
	margin: 57px 70px 56px 0;
}
@media (max-width:1200px){
	.header .logo{
		margin-right: 0;
		margin-left: 10px;
	}
}
.header .logo .emblem{
	float: left;
	width: 34px;
	height: 34px;
	background: url(../images/logo.svg) center no-repeat;
	background-size: contain;
}
.header .logo .text{
	float: left;
	font-family: 'Rockwell', serif;
	text-decoration: none;
	font-size: 30px;
	line-height: 30px;
	margin: 0 0 0 17px;
}
.header a.logo:visited{	
	color: #202242;
}
.header .nav{
	float: left;
	margin: 63px 0 48px 0;
}
.header .nav li{
	float: left;
	list-style: none;
	line-height: 0;
	margin: 0 30px 0 0;
}
.header .nav li:last-child{
	margin-right: 0;
}
.header .nav li a{
	font-size: 16px;	
	line-height: 36px;
	text-transform: uppercase;
	text-decoration: none;
	padding: 18px 6px;
	color: #202242;
	display: inline;
}
.header .nav li a.active{
	color: #ffe13e;
	font-weight: bold;
}
.header .nav li a:hover{
	color: #ffe13e;
	background: none;
}
.header .contact{
	font-weight: 600;
	float: right;
	padding: 39px 10px 33px 45px;
	line-height: 0;
	border-left: 1px solid #ebebeb;
}
.header .contact_text{	
	font-size: 12px;
	line-height: 12px;
	margin: 0;
}
.header .contact_info{
	margin: 22px 0 0 0;
}

.header .contact_info .btn{
	margin: 0 20px 0px 0px;
	float: left;
	line-height: 14px;
	font-size: 14px;
}
.header .contact_info .tel{
	font-family: 'Lato', sans-serif;
	font-weight: bold;
	padding: 9px 0 8px 10px;
	float: right;
	font-size: 24px;
	line-height: 24px;
	border-left: 1px solid #202242;
}
/*end header styles*/

/*begin splash*/
.screen._splash{
	background: url(../images/layer_splash.png) center fixed;
	background-size: cover;
	font-size: 30px;
	line-height: 30px;	
	padding: 167px 0 20px 0;
	color: #fff;
}
.screen._splash .semiopacity{
	background: rgba(0, 0, 0, 0.3);
	position: absolute;
	top: 0; right: 0; bottom: 0; left: 0;
	z-index: 5;
}
.screen._splash .container{	
	height: calc(100vh - 147px);	
	min-height: 445px;
    max-height: 1030px;
}
.screen._splash .inside{    
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
    z-index: 6;
    text-align: center;
}
@media (max-width: 992px) {
	.screen._splash .container{	
		height: auto;
	}
	.screen._splash .inside{
	    position: relative;
	    top: auto;
	    transform: none;
	}
}
.screen._splash .page-heading{
	font-family: 'Rockwell', serif;
	font-size: 48px;
	line-height: 48px;
	margin: 0 0 35px 0;
}
.screen._splash .icon{
	display: block;
	width: 92px;
	height: 100px;
	background: url(../images/shape.png) no-repeat;
	background-size: contain;
	margin: 60px auto 0 auto;
}
.screen._splash .form-inline{
	border: solid 19px rgba(221, 221, 221, .5);
	display: inline-block;
	margin: 60px 0 0 0;	
	font-size: 18px;
	line-height: 18px;
}
.screen._splash .form-inline .form-group{
	background: #ffe13e;
	margin-bottom: 0;
}
.screen._splash .form-inline input{
	font-family: 'Raleway', sans-serif;
	font-size: 18px;
	padding: 16px 39px 15px 39px;
	color: #2d2d2d;
	border: 0;
}
.screen._splash .form-inline input::-webkit-input-placeholder{
	color: #2d2d2d;
}
.screen._splash .form-inline select{
	-webkit-appearance: none;
	-moz-appearance: none;
  	appearance: none;
	border: 0;
	border-radius: 0;
	color: #000;
	font-weight: bold;
	padding: 15px 30px 14px 30px;
	height: 52px;
	position: relative;
	z-index: 11;
	cursor: pointer;
	background: none;
	width: 100%;
	text-align: center;
}
.screen._splash .form-inline .arrow-down{
	position: relative;
}
.screen._splash .form-inline .arrow-down:after{
	position: absolute;
    border-bottom: 1px solid #fff;
    border-left: 1px solid #fff;
    content: '';
    right: 10px;
    top: 20px;
    z-index: 8;
    height: 10px;
    width: 10px;
    transform: rotate(-45deg);
}
.screen._splash .form-inline button{
	font-size: 14px;
	line-height: 14px;
	font-weight: bold;
	background: #ffe13e;
	color: #fff;
	padding: 19px 19px 19px 19px;
	width: 100%;
	border: 1px solid #fff;
}
@media (min-width: 768px){
	.screen._splash .form-inline button{
		width: auto;
		border: 0;
		border-left: 1px solid #fff;
	}
}
/*end splash*/

/*begin services*/
.screen._services{
	color: #fff;
}
.screen._services .back{
	position: absolute;
	top: 0;
	bottom: 0;
	z-index: 5;
	width: 50%;
}
.screen._services .back.left{
	left: 0;
	background: #202242;
}

.screen._services .back.right{
	right: 0;
	background: #ffe13e;
}
.screen._services .container{
	z-index: 6;
}
.screen._services .row{
	text-align: center;
}
.screen._services .webserv, .screen._services .domserv{	
	padding: 235px 85px 105px 85px;
}
.screen._services .container p{
	font-size: 14px;
	line-height: 24px;
}
.screen._services .icon{
	display: inline-block;
	height: 110px;
	margin: 0 0 50px 0;
}
.screen._services .webserv .icon{	
	width: 110px;
}
.screen._services .webserv .icon{
	background: url(../images/webserv.png) no-repeat;
	background-size: contain;
}
.screen._services .domserv .icon{
	font-size: 110px;
	line-height: 110px;
	color:#202242;
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
}
@media (max-width: 992px) {
	.screen._services .webserv, .screen._services .domserv {
	    padding: 50px 85px 62px 85px;
	}
	.screen._services .back{
		width: 100%;
	}
	.screen._services .back.left{
		right: 0;
		height: 100%;
		background: #ffe13e;
	}
	.screen._services .back.right{
		left: 0;
		background: #202242;
		height: calc(100% - 50%);
	}
}
@media (min-width: 768px){
	.screen._services .icon{
		height: 170px;
	}
	.screen._services .webserv .icon{	
		width: 164px;
	}
	.screen._services .domserv .icon{
		font-size: 134px;
		line-height: 134px;
	}

}
.screen._services h3{
	margin: 0 0 10px 0;
}
.screen._services .btn.more{
	display: inline-block;
	border: 3px solid #fff;
	padding: 16px 58px;	
	margin: 30px 0 0 0;
	color: #fff;
}
.screen._services .webserv .btn.more:hover{
	background: #fff;
	color: #202242;
	transition: color .5s ease-in-out, background 1s ease-in-out;
}
.screen._services .domserv .btn.more:hover{
	background: #fff;
	color: #ffe13e;
	transition: color .5s ease-in-out, background 1s ease-in-out;
}
/*end services*/

/*begin features*/
.srceen._features{
	background: url('../images/back_features.png') #fbf8f1 no-repeat center fixed;
	background-size: contain;
}
.srceen._features .container{
	text-align: center;
	padding: 90px 0 110px 0;
}
.srceen._features .wrap{
	margin: 85px 0 0 0;
}
.srceen._features .screen-heading{	
	margin: 0;
	font-size: 48px;
	line-height: 48px;
	font-weight:bold;
	color: #202242;
	font-family: 'Raleway', sans-serif;
}
.srceen._features .screen-subheading{
	font-size: 24px;
	line-height: 24px;
	color: #202242;
	font-family: 'Raleway', sans-serif;
}
@media (min-width: 992px){	
	.srceen._features .block-features{
		padding: 10px 10px 70px 0;
	}	
}
.srceen._features .icon{
	display: block;
	margin: 0 auto;
	height: 130px;
	width: 130px;	
}
.srceen._features .icon_after:after{
	display: inline-block;
	left: 50%;
	content: '';
	margin: 29px 0;
	width: 70px;
	border: 1px solid #8d8d99;
}
.srceen._features .icon.liveSupport{
	background: url(../images/liveSupport.png) no-repeat center;	
	background-size: contain;
}
.srceen._features .icon.cloudTech{
	background: url(../images/cloudTech.png) no-repeat center;	
	background-size: contain;
}
.srceen._features .icon.hitechData{
	background: url(../images/hitechData.png) no-repeat center;
	background-size: contain;
}
.srceen._features .icon.liveMonit{
	background: url(../images/liveMonit.png) no-repeat center;
	background-size: contain;
}
.srceen._features .block-heading{
	font-family: 'Rockwell', serif;
	font-size: 30px;
	line-height: 30px;
	color: #f4d320;
	margin: 0;
}
.srceen._features .descript-features{
	font-family: 'Raleway', sans-serif;
	font-size: 14px;
	line-height: 1.8;
	color: #202242;
	margin: 19px 30px 0 30px;
}
/*end features*/

/*begin clients*/
.screen._clients .container{
	padding: 30px 50px; 
}
.screen._clients .client-logo img{
	width: 100%;
	margin: 50px 0 50px 0;
}
.screen._clients .screen-heading{
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
	font-size: 36px;
	line-height: 36px;
	color: #202242;
	text-align: center;
}
@media (min-width: 992px) {
	.screen._clients .screen-heading{
		text-align: left;
	}
}
.screen._clients .client-descript{
	 font-family:'Raleway';
	 font-size: 16px;
	 line-height: 1.7;
	 color: #adadad;
}
.screen._clients .quote .quote_text{
	font-family: 'Rockwell', serif;
    font-style: italic;
    font-size: 14px;
    line-height: 1.7;
    background: #faf9f9;
    padding: 30px 20px 80px 20px;
    text-align: justify;
    color: #adadad;
}
.screen._clients .quote .who{
	margin: -70px 0 0 0;
	padding: 0 20px 0 20px;
}
.screen._clients .quote .who_text{
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
    font-size: 16px;
    line-height: 16px;
    color: #696969;
}
.screen._clients .quote .who_image{
	float: right;
	border-radius: 100%;
	border: 5px solid rgba(231, 231, 241, .5);
	width: 100px;
	height: 100px;
	overflow: hidden;
	background: url(../images/client-answer.png) no-repeat;
	background-size: contain;
}
/*end clients*/

/*begin pricing*/
.screen._pricing{
	background: #202242;
	color: #fff;
}
.screen._pricing .container{
	padding: 96px 66px 90px 122px;
}
.screen._pricing .screen-heading{
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
	font-size: 36px;
	line-height: 36px;
	margin: 0 0 12px 0;
}
.screen._pricing .screen-subheading{
	font-family: 'Raleway', sans-serif;
	color: #67687b;
	font-size: 18px;
	line-height: 18px;
}
.screen._pricing .btn{
	float: right;
	font-size: 18px;
	line-height: 18px;
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
	color: #202242;
	border: 3px solid #fff;
	background: #ffe13e;
	padding: 30px 50px;
}
.screen._pricing .btn:hover{
	text-decoration: none;
	border-color: rgba(221, 221, 221, .7);
	background: #fff;
	transition: border-color .5s ease-in-out, background .9s ease-in-out;
}
/*end pricing*/

/*begin footer*/
.footer{
	background: #363855;
	padding: 90px 40px;
	color: #fff;
}
.footer .map{
	height: 422px;
	width: 100%;
	background: url(../images/map.png) no-repeat;
	background-size: contain;
	position: relative;
}
.footer .map .tag{
	position: absolute;
	top: 235px;
	left: 622px;
}
.footer .map .tag .icon.img-tag{
	float: left; 
	height: 51px;
	width: 36px;
	background: url(../images/tag.png);
	background-size: contain;
}
.footer .map .tag .text-tag{
	font-family:'Raleway';
    font-weight:bold;
    font-size: 18px;
    line-height: 18px; 
}
.footer .right{
	float: right;
}
.footer .text-nav{
	font-weight: bold;
	font-size: 18px;
	line-height: 18px;
	padding: 0 0 15px 0;
}
.footer .footer-nav{
	text-align: right;
}
.footer .footer-nav li{
	list-style: none;
    font-size: 16px;
    line-height: 16px;
    border-bottom: 1px solid #565870;
    padding: 9px 0 9px 0;
}
.footer .footer-nav li:last-child{
	border: none;
}
.footer .icon{
	float: right;
	display: inline-block;
	height: 18px;
	width: 18px;
	background: url(../images/soc-icon.png);
}
.footer .icon.twitter{


}
.footer .icon.instagram{
	background-position: 55px;
}
.footer .icon.google{
	background-position: 18px;
}
/*end footer*/