/*begin main styles*/
@font-face{
	font-family:'Rockwell';
    font-weight:normal;
    font-style:normal;
    src:url('../fonts/rockwell.eot'),
        url('../fonts/rockwell.ttf') format('truetype');
} 
@font-face{
    font-family:'iconfont';
    font-weight:normal;
    font-style:normal;
    src:url('../fonts/iconfont.eot');
    src:url('../fonts/iconfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/iconfont.woff') format('woff'),
        url('../fonts/iconfont.ttf') format('truetype'),
        url('../fonts/iconfont.svg#icomoonregular') format('svg');
}
@font-face{
    font-family:'Raleway';
    font-weight:normal;
    font-style:normal;
    src:url('../fonts/Raleway-Regular.ttf') format('truetype');
}
@font-face{
    font-family:'Raleway';
    font-weight:bold;
    font-style:normal;
    src:url('../fonts/Raleway-Bold.ttf') format('truetype');
}
*{
	box-sizing: border-box;
}
body{	
	font-family: 'Raleway', sans-serif;
	font-size: 14px;
	color: #adadad;
	margin: 0;
}
.page-heading{	
	font-family: 'Rockwell', serif;
	font-size: 48px;
	line-height: 48px;
}
h3{
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
	font-size: 36px;
	line-height: 36px;
	color: #fff;
}
ul{
	margin: 0; padding: 0;
}
.container{
	width:1280px;
	margin: 0 auto;
	padding: 0 50px;	
	position: relative;
}
.row:after,
.clearfix:after,
.container:after{
	display: block;
	content: "";
	clear: both;
}
.screen{
	position: relative;
}
.btn{	
	text-decoration: none;
	font-size:14px;
	line-height:14px;
	padding: 13px 28px;
}
.btn.btn-default{
	background:#ffe13e;
	color:#202242;
	transition: all .5s ease;
}
.btn.btn-default:hover{
	background:#202242;
	color:#ffe13e;
}
.row{}
.col-12, .col-11, .col-10, .col-9, .col-8, .col-7, .col-6, .col-5, .col-4, .col-3, .col-2, .col-1{	
	float: left;
}
.col-12{
	width:100%;
}
.col-11 {
  width: 91.66666667%;
}
.col-10 {
  width: 83.33333333%;
}
.col-9 {
  width: 75%;
}
.col-8 {
  width: 66.66666667%;
}
.col-7 {
  width: 58.33333333%;
}
.col-6 {
  width: 50%;
}
.col-5 {
  width: 41.66666667%;
}
.col-4 {
  width: 33.33333333%;
}
.col-3 {
  width: 25%;
}
.col-2 {
  width: 16.66666667%;
}
.col-1 {
  width: 8.33333333%;
}
/*end main styles*/

/*begin header styles*/
.header{
	width: 100%;
	background: #fff; 
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;
}
.header .logo{
	float: left;
	margin: 57px 100px 56px 0;
}
.header .logo .emblem{
	float: left;
	width: 34px;
	height: 34px;
	background: url(../images/logo.svg) center no-repeat;
	background-size: contain;
}
.header .logo .text{
	float: left;
	font-family: 'Rockwell', serif;
	text-decoration: none;
	color: #202242;
	font-size: 30px;
	line-height: 30px;
	padding: 2px 0 1px 0; 
	margin: 0 0 0 17px;
}
.header a.logo:visited{	
	color: #202242;
}
.header .nav{
	float: left;
}
.header .nav li{
	float: left;
	list-style: none;
	line-height: 0;
	margin: 63px 30px 48px 0;
}
.header .nav li:last-child{
	margin-right: 0;
}
.header .nav li a{
	font-size: 16px;	
	line-height: 36px;
	text-transform: uppercase;
	text-decoration: none;
	color: #202242;
	padding: 18px 6px;
}
.header .nav li a.active{
	color: #ffe13e;
	font-weight: bold;
}
.header .nav li a:hover{
	color: #ffe13e;
}
.header .contact{
	float: right;
	color: #202242;
	padding: 40px 10px 33px 45px;
	line-height: 0;
	border-left: 1px solid #ebebeb;
}
.header .contact_text{	
	font-weight: 600;
	font-size: 12px;
	line-height: 12px;
}
.header .contact_info{
	margin: 22px 0 0 0;
}
.header .contact_info .btn{	
	font-weight: 600;
	margin: 0 20px 0px 0px;
	float: left;
	line-height: 15px;
	font-size: 15px;
}
.header .contact_info .tel{
	font-family: 'Lato', sans-serif;
	font-weight: bold;
	padding: 9px 0 8px 10px;
	float: right;
	font-size: 24px;
	line-height: 24px;
	border-left: 1px solid #202242;
}

/*end header styles*/

/*begin splash*/
.screen._splash{
	background: url(../images/layer_splash.png) center fixed;
	background-size: cover;
	position: relative;
	font-size: 30px;
	line-height: 30px;	
}
.screen._splash .semiopacity{
	background: rgba(0, 0, 0, 0.3);
	position: absolute;
	top: 0; right: 0; bottom: 0; left: 0;
	z-index: 5;
}
.screen._splash .container{	
	height: 100vh;	
	min-height: 910px;
    max-height: 1030px;    
    padding-top: 167px;
    padding-bottom: 30px;
}
.screen._splash .inside{    
    padding: 147px 0 0 0;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
	color: #fff;
	z-index: 6;
	text-align: center;
}
.screen._splash .icon{
	display: inline-block;
	width: 92px;
	height: 100px;
	background: url(../images/shape.png) no-repeat;
	background-size: contain;
	margin: 60px 0 0 0;
}
.screen._splash form.domain{
	border: solid 19px #dddddd;
	display: inline-block;
	margin: 60px 0 0 0;	
	font-size: 18px;
	line-height: 18px;
}
.screen._splash form.domain .form-control{
	float: left;
}
.screen._splash form.domain input{
	padding: 16px 47px 15px 30px;
	color: #000;
	border: 0;
}
.screen._splash form.domain select{
	-webkit-appearance: none;
	-moz-appearance: none;
  	appearance: none;
	border: 0;
	border-radius: 0;
	background: #ffe13e;
	color: #000;
	font-weight: bold;
	padding: 15px 14px 14px 30px;
	height: 52px;
	position: relative;
}
.screen._splash form.domain .arrow-down{
	position: relative;
}
.screen._splash form.domain .arrow-down:after{
	position: absolute;
	border: 10px solid transparent;
	border-top: 10px solid #fff;
	content: '';
	right: 0;
	top: 20px;
}
.screen._splash form.domain button{
	font-size: 14px;
	line-height: 14px;
	font-weight: bold;
	border: 0;
	border-left: 1px solid #fff;
	background: #ffe13e;
	color: #fff;
	padding: 19px 19px 19px 19px;
}
/*end splash*/

/*begin services*/
.screen._services .back{
	position: absolute;
	top: 0;
	bottom: 0;
	z-index: 5;
	width: 50%;
}
.screen._services .left{
	left: 0;
	background: #202242;
}
.screen._services .right{
	right: 0;
	background: #ffe13e;

}
.screen._services .container{
	z-index: 6;
}
.screen._services .row{	
	color: #fff;
	text-align: center;
}
.screen._services .webserv, .screen._services .domserv{	
	padding: 115px 85px;
}
.screen._services .container p{
	font-size: 14px;
	line-height: 24px;
}
.screen._services .icon{
	display: inline-block;
	height: 170px;
	margin: 0 0 50px 0;
}
.screen._services .webserv .icon{	
	width: 164px;
}
.screen._services .webserv .icon{
	background: url(../images/webserv.png) no-repeat;
	background-size: contain;
}
.screen._services .domserv .icon{
	font-size: 134px;
	line-height: 134px;
	color:#202242;
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
}
.screen._services h3{
	margin: 0 0 10px 0;
}
.screen._services .btn.more{
	display: inline-block;
	border: 3px solid #fff;
	color: #fff;
	padding: 16px 58px;	
	margin: 30px 0 0 0;
}
.screen._services .webserv .btn.more:hover{
	background: #fff;
	color: #202242;
	transition: color .5s ease-in-out, background 1s ease-in-out;
}
.screen._services .domserv .btn.more:hover{
	background: #fff;
	color: #ffe13e;
	transition: color .5s ease-in-out, background 1s ease-in-out;
}
/*end services*/

/*begin features*/
.srceen._features{
	background: url('../images/back_features.png') #fbf8f1 no-repeat center;
	background-size: contain;
}
.srceen._features .container{
	text-align: center;
	padding: 30px 35px;
	text-align: center;
}
.srceen._features .screen-heading{	
	margin: 0;
	font-size: 48px;
	line-height: 48px;
	font-weight:bold;
	color: #202242;
	font-family: 'Raleway', sans-serif;
}
.srceen._features .screen-subheading{
	font-size: 24px;
	line-height: 24px;
	color: #202242;
	font-family: 'Raleway', sans-serif;
}
.srceen._features .icon{
	display: block;
	margin: 0 auto;
	height: 130px;
	width: 130px;	
}
.srceen._features .icon_after:after{
	display: inline-block;
	left: 50%;
	content: '';
	margin: 29px 0;
	width: 70px;
	border: 1px solid #8d8d99;
}
.srceen._features .icon.liveSupport{
	background: url(../images/liveSupport.png) no-repeat center;	
	background-size: contain;
}
.srceen._features .icon.cloudTech{
	background: url(../images/cloudTech.png) no-repeat center;	
	background-size: contain;
}
.srceen._features .icon.hitechData{
	background: url(../images/hitechData.png) no-repeat center;
	background-size: contain;
}
.srceen._features .icon.liveMonit{
	background: url(../images/liveMonit.png) no-repeat center;
	background-size: contain;
}
.srceen._features .block-heading{
	font-family: 'Raleway', sans-serif;
	font-size: 30px;
	line-height: 30px;
	color: #f4d320;
	margin: 0;
}
.srceen._features .descript-features{
	font-family: 'Raleway', sans-serif;
	font-size: 14px;
	line-height: 1.8;
	color: #202242;
	margin: 19px 30px;
}
.srceen._features .wrap{
	margin: 60px 0;
}
/*end features*/

/*begin clients*/
.screen._clients{
	height: 500px;
}
.screen._clients .container{
	padding: 30px 50px; 
}
.screen._clients .client-logo{
	width: 170px;
}
.screen._clients .screen-heading{
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
	font-size: 36px;
	line-height: 36px;
	color: #202242;
}
.screen._clients .client-descript{
	 font-family:'Raleway';
	 font-size: 14px;
	 line-height: 1.7;
	 color: #adadad;
}
.pos{
	position: relative;
}
.vert{
	position: absolute;
	top: 50%;

}
/*end clients*/